## Set Up
- Create a (virtual) development environment to make Python version and packages manageable.  
- Import public datasets from Bigquery.

### Miniconda
Download Miniconda installer from the official site [Anaconda](https://www.anaconda.com/download).   
Use Miniconda command prompt to create/activate a new environment specifying Python version and packages to install. 

**Name the environment and choose a Python version.**  
`conda create -n my_env python=3.11`      
**List all created environments.**   
`conda env list`  
**Activate an environment by name.**  
`conda activate my_env`  
**Install essential packages for data analysis.**
```bash
conda install -c conda-forge \
  notebook \
  pandas \
  numpy \
  matplotlib \
  seaborn \
  scipy \
  scikit-learn
```
- Jupyter Notebook: `notebook`
- Data process & numeric operation: `pandas`, `numpy`
- Visulization: `matplotlib`, `seaborn`
- Statistics: `scipy`
- Machine learning: `scikit-learn`

**List all packages installed(dependencies not included) in the current environment**  
`conda env export --from-history`

**Add the environment as a Jupyter kernel**  
Install the IPython kernel package and register your environment as a Jupyter Notebook kernel.
```
conda install ipykernel
python -m ipykernel install --user --name my_env --display-name "Python (my_env)"

```
**Launch Jupyter notebook**  
`jupyter notebook`  
Select the desired kernel in Jupyter notebook interface.

In [4]:
conda env list

# conda environments:
#
base                   /opt/miniconda3
my_env               * /opt/miniconda3/envs/my_env


Note: you may need to restart the kernel to use updated packages.

### Connect to Bigquery
Install gcloud CLI with [offical guide](https://cloud.google.com/sdk/docs/install)(system-wide) and set up a project(to authorize the use of public datasets from Bigquery).  
Install and use `bigframe` package to import [New York Citi Bike dataset](https://console.cloud.google.com/marketplace/product/city-of-new-york/nyc-citi-bike?hl=en&inv=1&invt=AbxWgg) from Bigquery.  

**Create a new project in gcloud.**  
`gcloud projects create data-ana-0`  
**List all available projects.**  
`gcloud projects list`  
**Initialize a project.**  
`gcloud init`  
Confirm conversations from CLI.

**Install bigframe via conda.**  
`conda install conda-forge::bigframes`  
Need to restart the kernel.

In [4]:
import bigframes.pandas as bpd

PROJECT_ID = "data-ana-0"
bpd.options.bigquery.project = PROJECT_ID

sql_query = """
SELECT * 
FROM `bigquery-public-data.new_york.citibike_trips`
LIMIT 1000
"""

df = bpd.read_gbq(sql_query)
df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,405,2016-08-04 08:07:33+00:00,2016-08-04 08:14:18+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,305,E 58 St & 3 Ave,40.760958,-73.967245,17789,Subscriber,1973,male
1,1018,2013-07-11 14:14:05+00:00,2013-07-11 14:31:03+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,442,W 27 St & 7 Ave,40.746647,-73.993915,19159,Subscriber,1967,female
2,2080,2016-09-09 17:35:27+00:00,2016-09-09 18:10:08+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,415,Pearl St & Hanover Square,40.704718,-74.00926,22270,Subscriber,1988,male
3,659,2013-10-28 16:44:28+00:00,2013-10-28 16:55:27+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,285,Broadway & E 14 St,40.734546,-73.990741,15775,Subscriber,1995,female
4,718,2016-08-07 17:46:03+00:00,2016-08-07 17:58:01+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,492,W 33 St & 7 Ave,40.7502,-73.990931,20344,Subscriber,1966,female

In [11]:
sql_query = """
SELECT DISTINCT end_station_name
FROM `bigquery-public-data.new_york_citibike.citibike_trips`
WHERE end_station_id = 520
ORDER BY end_station_name
"""
df = bpd.read_gbq(sql_query)
df

  end_station_name
0  W 52 St & 5 Ave

[1 rows x 1 columns]

By comparing the "start_station_id"/"start_station_name" and "end_station_id"/"end_station_name", we can draw conclusion that the id for the starting stations and the ending stations are from the same indeces.

## Exploratory Data Analysis
By examining the "Details" tab of the `citibike_trips` table from the "new_york_citibike" dataset in Bigquery studio, I found that the table consists of:  
- 58,937,715 rows in total and it takes 7.47 GB to store.

While examining the "Schema" tab along with first few entries of the table returned above gives information that the table has:  
- 16 columns.

each row represents one trip using the citibike including:  
- start/end time,  
- start/end location,  
- bike id,  
- user information...

### Span of time of the entries

In [7]:
sql_query = """
SELECT
  MIN(starttime) AS earliest_trip,
  MAX(starttime) AS latest_trip
FROM
  `bigquery-public-data.new_york_citibike.citibike_trips`
"""
df = bpd.read_gbq(sql_query)
df

         earliest_trip                 latest_trip
0  2013-07-01 00:00:00  2018-05-31 23:59:59.606000

[1 rows x 2 columns]

By taking the min/max of the starttime column, we know that the entries from the target table starts from July 2013 to May 2018, roughly **5 years**.  
If we take the average, there are **11,787,543(10 million) trips recorded every year** and **982,295(1 million) trips recorded each month**.

### List of stations
*) Since I found the result of SQL query returned by `bigframe` troubled to display the dataframe in order, I use Bigquery UI to run SQL queries in the next sessions and save the results locally for further exploration.

**SQL query to get a full list of all unique Citibike stations**  
```sql
SELECT
  station_id,
  station_name,
  station_latitude,
  station_longitude
FROM (
  SELECT
    start_station_id AS station_id,
    start_station_name AS station_name,
    start_station_latitude AS station_latitude,
    start_station_longitude AS station_longitude
  FROM `bigquery-public-data.new_york_citibike.citibike_trips`
  WHERE start_station_id IS NOT NULL

  UNION DISTINCT

  SELECT
    end_station_id AS station_id,
    end_station_name AS station_name,
    end_station_latitude AS station_latitude,
    end_station_longitude AS station_longitude
  FROM `bigquery-public-data.new_york_citibike.citibike_trips`
  WHERE end_station_id IS NOT NULL
)
ORDER BY station_id

```

In [1]:
import pandas as pd

df = pd.read_csv('./views/stations.csv')
df.head(10)

,station_id,station_name,station_latitude,station_longitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929
1,79,Franklin St & W Broadway,40.719116,-74.006667
2,82,St James Pl & Pearl St,40.711174,-74.000165
3,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323
4,116,W 17 St & 8 Ave,40.741776,-74.001497
5,119,Park Ave & St Edwards St,40.696089,-73.978034
6,120,Lexington Ave & Classon Ave,40.686768,-73.959282
7,127,Barrow St & Hudson St,40.731724,-74.006744
8,128,MacDougal St & Prince St,40.727103,-74.002971
9,137,E 56 St & Madison Ave,40.761628,-73.972924

In [2]:
df.shape

(1018, 4)

There are 1018 Citibike stations, I didn't manually check all the rows for duplicates.  
So technically there will be 1018 * (1018 -1) = **1 million combinations of station pairs(directed)**.

## Visulization of the Flow between Stations
**Install Folium**  
`conda install folium -c conda-forge`

In [2]:
import folium

m = folium.Map(location=(45.5236, -122.6750))
m

### Flow on the day  of 2018-05-15(Tue)
**Query trip data for the day**  
```sql
SELECT
  start_station_id,
  start_station_name,
  start_station_latitude,
  start_station_longitude,
  end_station_id,
  end_station_name,
  end_station_latitude,
  end_station_longitude,
  COUNT(*) AS num_trips
FROM
  `bigquery-public-data.new_york_citibike.citibike_trips`
WHERE
  DATE(starttime) = '2018-05-15'
  AND start_station_id != end_station_id  -- Exclude round trips
GROUP BY 1,2,3,4,5,6,7,8
ORDER BY num_trips DESC

```

In [4]:
df = pd.read_csv('./views/trip-2018-05-15.csv')
df.head(50)

,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,num_trips
0,2006,Central Park S & 6 Ave,40.765909,-73.976342,3282,5 Ave & E 88 St,40.783070,-73.959390,23
1,519,Pershing Square North,40.751873,-73.977706,491,E 24 St & Park Ave S,40.740964,-73.986022,22
2,460,S 4 St & Wythe Ave,40.712859,-73.965903,3093,N 6 St & Bedford Ave,40.717452,-73.958509,21
3,514,12 Ave & W 40 St,40.760875,-74.002777,426,West St & Chambers St,40.717548,-74.013221,21
4,465,Broadway & W 41 St,40.755136,-73.986580,519,Pershing Square North,40.751873,-73.977706,19
5,435,W 21 St & 6 Ave,40.741740,-73.994156,462,W 22 St & 10 Ave,40.746920,-74.004519,18
6,2006,Central Park S & 6 Ave,40.765909,-73.976342,3165,Central Park West & W 72 St,40.775794,-73.976206,18
7,492,W 33 St & 7 Ave,40.750200,-73.990931,519,Pershing Square North,40.751873,-73.977706,17
8,519,Pershing Square North,40.751873,-73.977706,492,W 33 St & 7 Ave,40.750200,-73.990931,17
9,462,W 22 St & 10 Ave,40.746920,-74.004519,453,W 22 St & 8 Ave,40.744751,-73.999154,17
10,3430,Richardson St & N Henry St,40.719079,-73.942237,3086,Graham Ave & Conselyea St,40.715143,-73.944507,17
11,432,E 7 St & Avenue A,40.726218,-73.983799,3263,Cooper Square & Astor Pl,40.729515,-73.990753,17
12,3093,N 6 St & Bedford Ave,40.717452,-73.958509,460,S 4 St & Wythe Ave,40.712859,-73.965903,16
13,3093,N 6 St & Bedford Ave,40.717452,-73.958509,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,16
14,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3093,N 6 St & Bedford Ave,40.717452,-73.958509,16
15,3443,W 52 St & 6 Ave,40.761330,-73.979820,492,W 33 St & 7 Ave,40.750200,-73.990931,16
16,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,16
17,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,2006,Central Park S & 6 Ave,40.765909,-73.976342,15
18,3173,Riverside Blvd & W 67 St,40.777507,-73.988886,514,12 Ave & W 40 St,40.760875,-74.002777,15
19,347,Greenwich St & W Houston St,40.728846,-74.008591,426,West St & Chambers St,40.717548,-74.013221,15
20,3258,W 27 St & 10 Ave,40.750182,-74.002184,494,W 26 St & 8 Ave,40.747348,-73.997236,15
21,2006,Central Park S & 6 Ave,40.765909,-73.976342,499,Broadway & W 60 St,40.769155,-73.981918,15
22,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,3090,N 8 St & Driggs Ave,40.717746,-73.956001,15
23,484,W 44 St & 5 Ave,40.755003,-73.980144,492,W 33 St & 7 Ave,40.750200,-73.990931,14
24,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3282,5 Ave & E 88 St,40.783070,-73.959390,14
25,519,Pershing Square North,40.751873,-73.977706,546,E 30 St & Park Ave S,40.744449,-73.983035,14
26,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,239,Willoughby St & Fleet St,40.691966,-73.981302,14
27,492,W 33 St & 7 Ave,40.750200,-73.990931,3443,W 52 St & 6 Ave,40.761330,-73.979820,14
28,239,Willoughby St & Fleet St,40.691966,-73.981302,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14
29,468,Broadway & W 56 St,40.765265,-73.981923,173,Broadway & W 49 St,40.760683,-73.984527,14
30,462,W 22 St & 10 Ave,40.746920,-74.004519,402,Broadway & E 22 St,40.740343,-73.989551,14
31,499,Broadway & W 60 St,40.769155,-73.981918,3165,Central Park West & W 72 St,40.775794,-73.976206,14
32,519,Pershing Square North,40.751873,-73.977706,477,W 41 St & 8 Ave,40.756405,-73.990026,14
33,405,Washington St & Gansevoort St,40.739323,-74.008119,426,West St & Chambers St,40.717548,-74.013221,14
34,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3430,Richardson St & N Henry St,40.719079,-73.942237,14
35,453,W 22 St & 8 Ave,40.744751,-73.999154,462,W 22 St & 10 Ave,40.746920,-74.004519,14
36,2006,Central Park S & 6 Ave,40.765909,-73.976342,3163,Central Park West & W 68 St,40.773407,-73.977825,13
37,477,W 41 St & 8 Ave,40.756405,-73.990026,519,Pershing Square North,40.751873,-73.977706,13
38,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3137,5 Ave & E 73 St,40.772828,-73.966853,13
39,519,Pershing Square North,40.751873,-73.977706,402,Broadway & E 22 St,40.740343,-73.989551,13
40,487,E 20 St & FDR Drive,40.733143,-73.975739,545,E 23 St & 1 Ave,40.736502,-73.978095,13
41,417,Barclay St & Church St,40.712912,-74.010202,377,6 Ave & Canal St,40.722438,-74.005664,13
42,368,Carmine St & 6 Ave,40.730386,-74.002150,127,Barrow St & Hudson St,40.731724,-74.006744,13
43,462,W 22 St & 10 Ave,40.746920,-74.004519,435,W 21 St & 6 Ave,40.741740,-73.994156,13
44,537,Lexington Ave & E 24 St,40.740259,-73.984092,379,W 31 St & 7 Ave,40.749156,-73.991600,13
45,505,6 Ave & W 33 St,40.749013,-73.988484,465,Broadway & W 41 St,40.755136,-73.986580,13
46,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,13
47,517,Pershing Square South,40.751581,-73.977910,498,Broadway & W 32 St,40.748549,-73.988084,13
48,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,239,Willoughby St & Fleet St,40.691966,-73.981302,13
49,494,W 26 St & 8 Ave,40.747348,-73.997236,388,W 26 St & 10 Ave,40.749718,-74.002950,13

In [7]:
df = df[:250]

In [8]:
import folium
from folium.plugins import HeatMap, AntPath

# Base map centered on NYC
m = folium.Map(location=[40.7128, -74.0060], zoom_start=13, tiles='cartodbpositron')

# Add station markers
for _, row in df.iterrows():
    folium.CircleMarker(
        location=[row['start_station_latitude'], row['start_station_longitude']],
        radius=3,
        color='blue',
        fill=True,
        tooltip=f"{row['start_station_name']} (ID: {row['start_station_id']})"
    ).add_to(m)

# Add flow lines between stations
for _, row in df.iterrows():
    AntPath(
        locations=[
            [row['start_station_latitude'], row['start_station_longitude']],
            [row['end_station_latitude'], row['end_station_longitude']]
        ],
        color='red' if row['num_trips'] > 16 else 'orange',
        weight=row['num_trips']/50,  # Scale line thickness
        dash_array='5,5',
        tooltip=f"{row['num_trips']} trips"
    ).add_to(m)

m.save('./outputs/flows-2018-05-15.html')